.nav_form{
    max-width: 600px;
    border-radius: 10px;
    margin: 10px auto;
    border: 3px solid rgb(255, 124, 124);
    text-align: center;
}
.input{
    max-width: 90%;
    margin: 0 auto;
    padding: 3px;
}
.nav_form h1{
    font-size: 32px;
    margin: 3px auto;
}
.info_input{
    width: 100%;
    box-sizing: border-box;
    height: 25px;
    padding: 0 10px;
    border-radius: 10px;
    border: 1px solid black;
    margin: 3px auto;
}
.info_input_button{
    background-color: rgb(0, 0, 0);
    color: white;
}
.info_input_button:hover{
    background-color: rgb(34, 34, 34);
}




.error{
    color: rgb(255, 0, 0);
    text-align: left;
    margin-bottom: 7px; 
}
.password {
	position: relative;
}
.password-control {
	position: absolute;
	top: 6px;
	right: 6px;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(https://snipp.ru/demo/495/view.svg) 0 0 no-repeat;
}
.password-control.view {
	background: url(https://snipp.ru/demo/495/no-view.svg) 0 0 no-repeat;
}
@media screen and (max-width: 650px){
    .nav_form{
        margin: 10px 10px 0 10px;
    }
}